extends ../layouts/_index.jade
block header
    include ../layouts/_menus/_perfil.jade
        .mdl-grid.margin-top-10
            .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-cell--4-offset-desktop.mdl-card.mdl-shadow--2dp
                p.mdl-typography--headline.mdl-color--grey-100.center.padding-2.margin-0 Nuevo Libro
                form(action="/libros/libro_nuevo" method="POST").mdl-grid.margin-1
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.margin-center
                        input(name="name" type="texto" id="name").mdl-textfield__input
                        label(for="name").mdl-textfield__label Nombre
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.margin-center
                        input(name="autor" type="text" id="autor").mdl-textfield__input
                        label(for="autor").mdl-textfield__label Autor
                    .mdl-textfield.mdl.js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.margin-center
                        select(name="tema" id="temas_selc" type="text" onchange="si()").mdl-textfield__select
                            if(tema[0] != undefined)
                                option(disabled selected) Selecciona Tema
                                for temas in tema
                                    option(value="#{temas.name}")= temas.name
                    .mdl-textfield.mdl.js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.margin-center
                        select(name="materia" id="materias_selc" type="text").mdl-textfield__select
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col.margin-center
                        input(name="costo" type="number" id="costo").mdl-textfield__input
                        label(for="costo").mdl-textfield__label Costo
                    .mdl-cell.mdl-cell--8-col.mdl-cell--middle.left #[a(href="/libros/libros") Regresa]
                    .mdl-cell.mdl-cell--4-col.right
                        button(type="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color-text--white Crear
                script.
                    function si(){        
                        var materias_arr = !{JSON.stringify(materia).replace(/<\//g, "<\\/")}
                        console.log(materias_arr)
                        var temas_selec = document.getElementById("temas_selc");
                        var indextemas = temas_selec.selectedIndex;
                        var temasValue = temas_selec.options[indextemas].value;
                        var materias_selc = document.getElementById("materias_selc");
                        materias_selc.innerHTML = "<option disabled selected>Selecciona Materia</option> ";
                        console.log(materias_arr.length);
                        for (var i = materias_arr.length-1; i>=0; i-- ){
                            console.log(materias_arr[1]["tema"]["name"]);
                            if(temasValue == materias_arr[i]["tema"]["name"]){
                                materias_selc.innerHTML += "<option>"+materias_arr[i]["name"]+"</option>";
                            }
                        }
                    } 
        //-function Mostrar(){
                -var temas_selec = document.getElementById("temas_selc");
                -var indextemas = temas_selec.selectedIndex;
                -var temasValue = temas_selc.options[indextemas].value;
                -var materias_selc = document.getElementById("materias_selc");
                -materias_selc.innerHTML = "";
                -for(var i = materia.lenghth-1;i>=0;i--)
                    -console.log(temasValue);
                 
